.DS_Store

/build/

BButtonDemo.xcodeproj/project.xcworkspace/xcuserdata/jesse.xcuserdatad/
BButtonDemo.xcodeproj/xcuserdata/jesse.xcuserdatad/
BButtonDemo.xcodeproj/project.xcworkspace/xcshareddata/
